<p>Completa la siguiente informacion para tu <strong>delivery</strong></p>
<form [formGroup]="form" (ngSubmit)="saveDelivery()" class="flex flex-col gap-4 bg-white rounded-sm py-8 px-3 shadow-sm">
    <div class="flex flex-col gap-2">
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" placeholder="Cual es tu nombre?">
    </div>
    <div class="flex flex-col gap-2">
        <label for="departament">Departamento</label>
        <select id="departament" placeholder="Ingresa el departamento..." formControlName="departament" (change)="getCitiesForDepartament()">
            <option [ngValue]="departament" *ngFor="let departament of departaments">{{ departament.name }}</option>
        </select>
    </div>
    <div *ngIf="this.form.get('departament')?.value" class="flex flex-col gap-2">
        <label for="city">Ciudad</label>
        <select id="city" placeholder="Ingresa la ciudad..." formControlName="city">
            <option [value]="city.name" *ngFor="let city of cities">{{ city.name }}</option>
        </select>
    </div>
    <div *ngIf="!this.form.get('departament')?.value" class="flex flex-col gap-2">
        <p class="font-semibold underline">Ingrese la ciudad para ver las ciudades...</p>
    </div>
    <div class="flex flex-col gap-2">
        <label for="address">Dirección</label>
        <input type="text" id="address" formControlName="address" placeholder="Ingresa la dirección...">
    </div>
    <button  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Guardar direccion</button>
</form>